<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold d-flex align-items-center" routerLink="/pedidos">
      <i class="fa-solid fa-scissors me-2"></i> Indumedin
    </a>
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link px-3" routerLink="/clientes" routerLinkActive="active">
            <i class="fa-solid fa-users me-1"></i> Clientes
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" routerLink="/pedidos" routerLinkActive="active">
            <i class="fa-solid fa-clipboard-list me-1"></i> Pedidos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" routerLink="/pedidos-empresa" routerLinkActive="active">
            <i class="fa-solid fa-building me-1"></i> Pedidos Empresa
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" routerLink="/resumen" routerLinkActive="active">
            <i class="fa-regular fa-calendar me-1"></i> Calendario
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" routerLink="/facturas" routerLinkActive="active">
            <i class="fa-solid fa-file-invoice-dollar me-1"></i> Facturas
          </a>
        </li>
      </ul>
      <button class="btn btn-outline-light btn-sm" (click)="logout()">
        <i class="fa-solid fa-right-from-bracket me-1"></i> Cerrar sesion
      </button>
    </div>
  </div>
</nav>
<div class="container-fluid py-4 px-3 px-md-4">
  <router-outlet></router-outlet>
</div>
